<header class="header-area clearfix">
    <div class="logo">
        <a [routerLink]="['/']"><img src="../assets/images/logo.png" alt="" style="width:200px"></a>
    </div>
    <nav class="amado-nav">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/shop']">Shop</a></li>
            <li><a [routerLink]="['/product']">Product</a></li>
            <li><a [routerLink]="['/shopping-cart']">Cart</a></li>
            <li><a [routerLink]="['/checkout']">Checkout</a></li>
        </ul>
    </nav>
    <nav class="amado-nav2">
        <ul>
            <li><a (click)="onSearchClick()" class="search-nav"><i class="cgray fa fa-search fa-lg fa-flip-horizontal"></i> Search</a></li>
            <ng-template [ngIf]="this.authService.isAdmin()">
              <li class="mt-20"><a [routerLink]="['admin/dashboard']"><i class="cgray fa fa-tachometer-alt fa-lg"></i>  Dashboard</a></li>
              <li><a [routerLink]="['admin/categories']"><i class="cgray fa fa-book fa-lg"></i> Item Management</a></li>
              <li><a [routerLink]="['/admin/users']"><i class="cgray fa fa-user fa-lg"></i> User Management</a></li>
              <li><a [routerLink]="['/admin/orders']"><i class="cgray fa fa-money-bill-alt fa-lg"></i> Order Management</a></li>
            </ng-template>
        </ul>
    </nav>
    <div class="cart-fav-search mt-5">
        <p>Phone:<br><a href="callto:0612345678">0612345678</a></p>
        <p>Email: <a href="mailto:info@thrasherbookshop.com">info@thrasherbookshop.com</a></p>
    </div>
</header>
