.header-area {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 320px;
    flex: 0 0 320px;
    width: 320px;
    max-width: 320px;
    background-color: #fff;
    padding: 10px 25px 10px 75px;
}

.header-area .logo {
    margin-bottom: 60px;
    display: block;
}

  .header-area .amado-nav li, .header-area .amado-nav2 li {
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    padding: 20px 0;
    display: block;
    line-height: 0.9;
    color: #131212;
    font-weight: 500;
  }
    .header-area .amado-nav li a, .header-area .amado-nav2 li a {
      color: #131212;
      text-decoration: none
    }


  .header-area .amado-nav li, .header-area .amado-nav ul, .header-area .amado-nav2 ul {
    list-style: none;
    padding-left: 0;
  }

.header-area .amado-nav li a::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    margin-top: -1.5px;
    left: -150px;
    background-color: #fbb710;
    z-index: 10;
    content: ''; 
}

    .header-area .amado-nav li a:hover, .header-area .amado-nav li a:focus, .header-area .amado-nav2 li a:hover {
      color: #fbb710;
    }

.header-area .amado-nav li:hover a::after, .header-area .amado-nav li:focus a::after {
  left: -75px; 
}

.header-area .amado-btn-group .amado-btn {
    width: 160px;
    display: block;
}

.amado-btn {
    display: inline-block;
    min-width: 160px;
    height: 55px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 7px;
    font-size: 18px;
    line-height: 56px;
    background-color: #fbb710;
    font-weight: 400;
}

.amado-btn.active, .amado-btn:hover, .amado-btn:focus {
    font-size: 18px;
    color: #ffffff;
    background-color: #131212;
}
.search-nav {
    cursor: pointer;
}
.mt-20 {
  margin-top:20px
}
.cgray {
  color:#666;
  margin-right:8px
}