.amado-btn {
  display: inline-block;
  min-width: 160px;
  height: 55px;
  color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0 7px;
  font-size: 18px;
  line-height: 56px;
  background-color: #fbb710;
  font-weight: 400;
}

  .amado-btn.active, .amado-btn:hover, .amado-btn:focus {
    font-size: 18px;
    color: #ffffff;
    background-color: #131212;
  }

.amado-btn {
  width: 275px;
  height: 80px;
  line-height: 80px;
}
