<div class="cart-table-area section-padding-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="cart-title mt-50">
          <h2>Shopping cart</h2><br/>
        </div>
        <div class="cart-table clearfix">
          <table class="table table-responsive" tabindex="1" style="overflow: hidden; outline: none;" *ngIf="shoppingCart.length > 0; else emptyCart">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Item price</th>
                <th>Subtotal</th>
                <th>Remove from cart</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of shoppingCart">
                <td><img class="cart_product_img" src="../assets/images/{{ product.isbn == null ? 'unknown-book.jpg' : product.isbn }}.jpg" style="width:50px"></td>
                <td><div class="nameDiv">{{ product.name }}</div></td>
                <td class="qty">
                  <div class="qty-btn d-flex">
                    <div class="quantity">
                      <div class="nameDiv">
                        <span class="qty-minus">
                          <button (click)="onUpdateQuantityItem(product, product.quantity - 1)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                        </span>
                        {{ product.quantity}}
                        <span class="qty-plus">
                          <button (click)="onUpdateQuantityItem(product, product.quantity + 1)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                      </div>
                    </div>
                  </div>
                </td>
                <td><div class="priceDiv">{{ product.priceWithoutVat | currency:'EUR'}}</div></td>
                <td><div class="priceDiv">{{ product.priceWithoutVat * product.quantity | currency:'EUR'}}</div></td>
                <td>
                  <span class="qty-minus">
                    <button (click)="onRemoveFromCart(product)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                  </span>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Total: {{ totalPrice | currency:'EUR' }}</strong> <br> including VAT</td>
                <td><button (click)=a [routerLink]="['/checkout']" class="btn amado-btn mr-3">Checkout</button></td>
              </tr>
            </tbody>
          </table>
          <ng-template #emptyCart>
            <br />
            <p>Your shopping cart is empty</p>
            <img src="../assets/images/Empy_shopping_cart.png" alt="" style="width:200px">
          </ng-template>
        </div>
      </div>
  </div>
</div>
  </div>


