h1, h2, h3, h4, h5, h6 {
  color: #242424;
  line-height: 1.3;
  font-weight: 400;
  font-size: 20px;
}
img {
  width: 100% !important;
  display: block !important;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
ol, nav {background-color:transparent !important}
.mt-50 {margin-top:50px}
.breadcrumb {
  display:flex;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom:1rem;
  list-style:none;
}
.breadcrumb-item {
  font-size: 16px;
  padding-left: .5rem;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  font-weight: 400;
  color: #242424;
  transition: all 500ms ease 0s;
}
a:hover {
    color: #fbb710
  }
.breadcrumb.active {
  color: #6c757d
}
.product-price {
  font-size: 24px;
  font-weight: 500;
  padding:20px 40px 10px 0;
  width:130px;
  color: #fbb710;
  line-height: 1;
  margin-bottom: 10px;
  border-top:3px solid #fbb710;
  display:inline-block;
}
.product-rating {
  padding: 20px 0;
  color: #fbb710;
  font-size: 16px;
  font-weight: 400;
}
.product-desc {
  line-height: 2.1;
  color: #6b6b6b;
  font-size: 16px;
  font-weight: 400;
  padding:40px 40px 20px 0
}
.product-creator {
  line-height: 1.1;
  color: #6b6b6b;
  font-size: 12px;
  font-weight: 400;
  padding: 0
}
.amado-btn {
  display: inline-block;
  min-width: 160px;
  height: 55px;
  color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0 7px;
  font-size: 18px;
  line-height: 56px;
  background-color: #fbb710;
  font-weight: 400;
}
.amado-btn.active, .amado-btn:hover, .amado-btn:focus {
  font-size: 18px;
  color: #ffffff;
  background-color: #131212;
}
.amado-btn {
  width: 275px;
  height: 80px;
  line-height: 80px;
}
.mb-50 {
  margin-bottom: 50px !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.quantity {
  position: relative;
  z-index: 1;
}
.qty-plus {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 30px;
  width: 30px;
  text-align: center;
  height: 20px;
  cursor: pointer;
  color: #959595;
}
.qty-minus {
  position: absolute;
  top: 21px;
  right: 0;
  line-height: 1;
  width: 30px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  color: #959595;
}
.quantity input {
  text-align: center;
  background-color: #f5f7fa;
  height: 40px;
  width: 100px;
  border: none;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  color: #959595;
}
.cart p {
  margin-bottom: 0;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  background-color: #f5f7fa;
}
/*Black custom button*/
.amado-btn-blk {
  display: inline-block;
  min-width: 160px;
  height: 55px;
  color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0 7px;
  font-size: 18px;
  line-height: 56px;
  background-color: #131212;
  font-weight: 400;
}

  .amado-btn-blk.active, .amado-btn-blk:hover, .amado-btn-blk:focus {
    font-size: 18px;
    color: #ffffff;
    background-color: #fbb710;
  }

.amado-btn-blk {
  width: 275px;
  height: 80px;
  line-height: 80px;
}


