
<div class="container-fluid">
  <app-observable-spinner-component [subscription]="productsObservable" [backgroundColor]="'#F8F8F8'" style="margin-top: 250px"></app-observable-spinner-component>
  <div class="row">
    <div class="col-12">
      <nav>
        <ol class="breadcrumb mt-50">
          <li class="breadcrumb-item"><a [routerLink]="['./']">HOME</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/shop/', product.categoryId]">{{product.category.description}}</a></li>
          <li class="breadcrumb-item active">{{product.name}}</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-5">
      <img src="../assets/images/{{product.isbn + '.jpg' }}" />
    </div>

    <div class="col-12 col-lg-7">
      <span class="product-price">{{product.priceWithoutVat}}</span>
      <h3>{{product.name}}</h3>
      <p class="product-rating" [innerHTML]="getRating(product.rating)"></p>
      <p class="product-creator">Author: {{product.author}}</p>
      <p class="product-creator">ISBN: {{product.isbn}}</p>
      <p class="product-desc">{{product.description}}</p>

      <div>
        <form class="cart clearfix" method="post">
          <div class="cart-btn d-flex mb-50">
            <p>Qty</p>
            <div class="quantity">
              <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
              <input type="number" #quantity class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
              <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
            </div>
          </div>
          <button (click)="addProductToCart(product, quantity.value)" class="btn amado-btn mr-3">Add to cart</button>
          <button (click)="addProductToWishlist(product.id)" class="btn amado-btn-blk">Add to wishlist</button>
        </form>
      </div>
      <div style="height:50px"></div>
    </div>
  </div>
</div>
