/* :: 10.0 Checkout Area CSS */
.checkout_details_area .form-control {
  height: 60px;
  border: none;
  border-radius: 0;
  background-color: #f5f7fa;
  padding: 30px;
  color: #6b6b6b;
  font-size: 14px;
}

.checkout_details_area textarea.form-control {
  height: 210px;
}

.checkout_details_area .custom-control label {
  font-size: 14px;
  color: #6b6b6b;
}

.checkout_details_area .nice-select {
  border-radius: 0;
  height: 60px;
  line-height: 60px;
  background-color: #f5f7fa;
  border: none;
  color: #6b6b6b;
  font-size: 14px;
}

  .checkout_details_area .nice-select .list {
    width: 100%;
    border-radius: 0;
    background-color: #f5f7fa;
  }
.cart-summary {
  background-color: #f5f7fa;
  margin-top: 118px;
  position: relative;
  z-index: 1;
  padding: 30px 20px;
}
  .cart-summary h5 {
    font-size: 18px;
    margin-bottom: 0;
  }
.cart-summary .summary-table {
  margin: 30px 0 0 0;
  padding:0
}
.cart-summary .summary-table li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
  text-transform: capitalize;
}
  .cart-summary .summary-table li span {
    color: #6b6b6b;
    font-size: 14px;
  }
.cart-summary .payment-method label {
  font-size: 14px;
  color: #6b6b6b;
  font-weight: 400;
  margin-bottom: 15px;
}
.payment-method label {
  font-size: 14px;
  color: #6b6b6b;
  font-weight: 400;
  margin-bottom: 15px;
}
.amado-btn {
  display: inline-block;
  min-width: 160px;
  height: 55px;
  color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0 7px;
  font-size: 18px;
  line-height: 56px;
  background-color: #fbb710;
  font-weight: 400;
}
.amado-btn.active, .amado-btn:hover, .amado-btn:focus {
  font-size: 18px;
  color: #ffffff;
  background-color: #131212;
}
.amado-btn {
  width: 310px;
  height: 80px;
  line-height: 80px;
}
.mt-100 {
  margin-top: 100px !important;
}
input.ng-invalid.ng-touched {
  border-color: red !important;
}
.help-block {
  color: red;
}

.form-row {
  display: block;
}

.custom-control-input {
  position: inherit;
  z-index: 0;
  opacity: 1;
}

.custom-control-label::before {
  content: none;
}

.custom-control-label::after { 
  position: initial;
}