
<div class="container-fluid">
    <form #checkout="ngForm" (ngSubmit)="onCheckout(checkout)" class="checkout">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">
                    <div *ngIf="cartItems.length > 0">
                        <h3>Successfully Ordered:</h3>
                        <ng-container *ngFor="let item of this.cartItems">
                            <p>{{ item.name }} - {{ item.priceWithVat | currency:'EUR' }}</p>
                        </ng-container>
                    </div>
                    <div class="cart-title">
                        <h2 class="mb-3">Checkout</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3 form-group">
                            <input type="text" class="form-control" id="first_name" placeholder="First Name" name="firstName" required ngModel #firstName="ngModel">
                            <span class="help-block" *ngIf="firstName.touched && !firstName.valid">Please enter a valid value</span>
                        </div>
                        <div class="col-md-6 mb-3 form-group">
                            <input type="text" class="form-control" id="last_name" placeholder="Last Name" name="lastName" required ngModel #lastName="ngModel">
                            <span class="help-block" *ngIf="lastName.touched && !lastName.valid">Please enter a valid value</span>
                        </div>
                        <div class="col-12 mb-3 form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email" name="email" required ngModel #email="ngModel">
                            <span class="help-block" *ngIf="email.touched && !email.valid">Please enter a valid value</span>
                        </div>
                        <div class="col-md-6 mb-3 form-group">
                            <input type="text" class="form-control" id="AddressLine1" placeholder="Street" name="street" required ngModel #street="ngModel">
                            <span class="help-block" *ngIf="street.touched && !street.valid">Please enter a valid value</span>
                        </div>
                        <div class="col-md-6 mb-3 form-group">
                            <input type="number" class="form-control" id="HouseNumber" placeholder="House Number" name="houseNumber" required ngModel #houseNumber="ngModel">
                            <span class="help-block" *ngIf="houseNumber.touched && !houseNumber.valid">Please enter a valid value</span>
                        </div>
                        <div class="col-md-6 mb-3" form-group>
                            <input type="text" class="form-control" id="ZipCode" placeholder="Zip Code" name="zipCode" required ngModel #zipCode="ngModel">
                            <span class="help-block" *ngIf="zipCode.touched && !zipCode.valid">Please enter a valid value</span>
                        </div>
                        <div class="col-md-6 mb-3" form-group>
                            <input type="text" class="form-control" id="City" placeholder="City" name="city" required ngModel #city="ngModel">
                            <span class="help-block" *ngIf="city.touched && !city.valid">Please enter a valid value</span>
                        </div>
                        <!-- THIS SECTION DOES NOT WORK PROPERLY YET. IF YOU KNOW HOW TO FIX IT, PLEASE FIX.-->
                        <!--<div class="col-12 mb-3">
                              <select class="form-control" id="ddlCountry">
                                <option value="unknown">Please choose a country</option>
                                <option value="nl">Netherlands</option>
                                <option value="usa">United States</option>
                                <option value="uk">United Kingdom</option>
                                <option value="ger">Germany</option>
                                <option value="fra">France</option>
                                <option value="ind">India</option>
                                <option value="aus">Australia</option>
                                <option value="bra">Brazil</option>
                                <option value="cana">Canada</option>
                              </select>
                            </div>-->
                        <div class="col-12 mb-3 form-group">
                            <textarea name="comment" class="form-control w-100" id="comment" cols="30" rows="5" placeholder="Leave a comment about your order"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <ul class="summary-table">
                        <li><span>subtotal:</span> <span>{{ totalPrice | currency:'EUR' }}</span></li>
                        <li><span>delivery:</span> <span>{{ shippingCost | currency:'EUR' }}</span></li>
                        <li><span>total:</span> <span>{{ totalPrice + shippingCost | currency:'EUR' }}</span></li>
                    </ul>
                    <div class="payment-method">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox"
                                   name="credticard"
                                   class="custom-control-input"
                                   [(ngModel)]="creditcard">&nbsp;
                            <label class="custom-control-label" for="creditcard">Creditcard  <img class="ml-15" src="../assets/images/paypal.png" alt=""></label>
                            <div [hidden]="!creditcard">
                                <div class="form-row">
                                    <!--
                                    TEST DATA
                                    Cardnumber: 4242424242424242
                                    MM: 02
                                    YY: 20
                                    CVC: 123
                                    POSTCODE: 12345
                                    -->
                                    <div id="card-info" #cardInfo></div>
                                    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox"
                                   class="custom-control-input"
                                   name="paypal"
                                   [(ngModel)]="paypal">&nbsp;
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                        <div class="cart-btn mt-100">
                            <button type="submit" class="btn amado-btn w-100">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
