  <footer class="footer_area clearfix">
    <div class=" container">
      <div class="row align-items-center">
        <!-- Single Widget Area -->
        <div class="col-12 col-lg-4">
          <div class="single_widget_area">
            <!-- Logo -->
            <div class="footer-logo mr-50">
              <a [routerLink]="['/']"><img src="../assets/images/logo_neg.png" alt="Thrasher Bookshop" style="width:200px"></a>
            </div>
            <!-- Copywrite Text -->
            <p class="copywrite">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright ©
              <script>document.write(new Date().getFullYear());</script>2018 All rights reserved | <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
        <!-- Single Widget Area -->
        <div class="col-12 col-lg-8">
          <div class="single_widget_area">
            <!-- Footer Menu -->
            <div class="footer_menu">
              <nav class="navbar navbar-expand-lg justify-content-end">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="footerNavContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" [routerLink]="['/']">Home</a>
                    </li>
                    <ng-template [ngIf]="!this.authService.isAuthenticated()">
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login']">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/register']">Register</a>
                      </li>
                    </ng-template>
                    <ng-template [ngIf]="this.authService.isAuthenticated()">
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/logout']">Logout</a>
                      </li>
                    </ng-template>
                    <ng-template [ngIf]="this.authService.isAuthenticated()">
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/wishlist']">Wishlist</a>
                      </li>
                    </ng-template>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/checkout']">Checkout</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/shopinfo']">Information</a>"
                      </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
