<div class="row" style="height:100%">

  <div class='col-md-3' style="background-color:#f5f7fa">
    <nav class="category-navbar">
      <h6>Item Management</h6>
      <ul>
        <li>
          <a [routerLink]="['/admin/categories']">Categories</a>
        </li>
        <li>
          <a [routerLink]="['/admin/products']">Products</a>
        </li>
        <li class="selected">
          <a>VAT</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class='col-md-4' style="padding-top:50px">
    <ul class="listbox">
      <li *ngFor="let vat of vatList">
        <a (click)="selectVat(vat)" [ngClass]="{'selected': vat.active}">{{vat.description}}</a>
      </li>
    </ul>
    <div class="mt-20">
        <button class="amado-btn" (click)="setAddMode()" *ngIf="!addMode">Add</button>
    </div>
  </div>

  <div class='col-md-5'>

      <form (ngSubmit)="onSubmit(form)" #form="ngForm" *ngIf="vat">
          <h4 class="mt-40">Vat details</h4>

          <div class="row">

              <div class="col-md-12 mb-6 form-group">
                  <h6 for="description">Description</h6>
                  <input type="text" class="form-control" id="description" name="description" required ngModel #description="ngModel" [(ngModel)]="vat.description">
                  <span class="help-block" *ngIf="description.touched && !description.valid">Please enter a valid value</span>
              </div>

              <div class="col-md-12 mb-6 form-group">
                  <h6 for="tax">Tax rate</h6>
                  <input type="text" class="form-control" id="tax" name="tax" required ngModel #tax="ngModel" [(ngModel)]="vat.tax">
                  <span class="help-block" *ngIf="tax.touched && !tax.valid">Please enter a valid value</span>
              </div>

              <div class="col-md-6" *ngIf="addMode">
                  <button type="button" class="amado-btn" (click)="cancelAddVat()">Cancel Add</button>
              </div>

              <div class="col-md-6" *ngIf="!addMode">
                  <button type="button" class="amado-btn" (click)="deleteVat()">Delete</button>
              </div>

              <div class="col-md-6">
                  <button type="submit" class="amado-btn" [disabled]="!form.valid">Save Changes</button>
              </div>

          </div>
      </form>
      
  </div>
</div>

