.category-navbar h6 {
  font-size: 16px;
  text-transform: capitalize;
  color: #242424;
  margin: 30px 15px
}

.category-navbar ul {
  list-style-type: none;
  margin: 15px 30px;
  padding: 0;
  width: 200px;
  /*background-color: #eee;*/
}

.category-navbar li a {
  display: block;
  color: #999;
  padding: 8px 16px;
  text-decoration: none;
}

  .category-navbar li a:hover {
    color: #fbb710;
  }

.category-navbar li.selected a {
  color: #fbb710;
  font-weight: bold;
}

ul.listbox {
  width: 100%;
  margin: 0;
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  overflow: auto;
  line-height: 1.4;
}

  ul.listbox a {
    display: inline-block;
    padding: 2px 4px;
    width: 100%;
    color: #333;
    text-decoration: none
  }

    ul.listbox a:hover {
      color: #fbb710;
      text-decoration: none;
      cursor: pointer
    }

    ul.listbox a.selected {
      background-color: #fdd77b
    }

input {
  width: 100%;
  padding: 5px 10px;
  background-color: #eee;
  border: none
}

.amado-btn {
  display: inline-block;
  min-width: 160px;
  width: 100%;
  height: 55px;
  color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0 7px;
  font-size: 18px;
  line-height: 56px;
  background-color: #fbb710;
  font-weight: 400;
}

  .amado-btn.active, .amado-btn:hover, .amado-btn:focus {
    font-size: 18px;
    color: #ffffff;
    background-color: #131212;
  }

.combobox {
  margin: 30px 0 10px 0;
}

a, li {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%
}

.form-control {
  border-color: #f5f7fa;
  border-radius: 0;
  background-color: #f5f7fa;
  padding: 10px;
  color: #6b6b6b;
  font-size: 14px;
}

input.ng-invalid.ng-touched {
  border-color: red !important;
}

.help-block {
  color: red;
}

h6 {
  font-size: 14px;
  font-weight: 300
}

.no-border {
  border: none;
}
.mt-20 {
  margin-top: 20px
}
.mt-40 {
    margin-top:40px
}