.home-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.home-item {
    background-color:#ffffff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    position: relative;
}
.item__image {
    max-width: 100%;
}

.home-item:hover a::after, .home-item:focus a::after {
    opacity: 1;
    visibility: visible;
}

.home-item a::after {
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(60, 60, 60, 0.2);
    z-index: 1;
    opacity: 0;
    visibility: visible;
}

.home-item .hover-content {
    position: absolute;
    top: 40px;
    left: 40px;
    padding: 15px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.6);
}

.home-item .hover-content p {
    font-size: 16px;
    color: #6d6d6d;
    line-height: 1;
    text-align: left;
    margin-bottom: 5px;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

.home-item .hover-content .line {
    width: 80px;
    height: 3px;
    background-color: #fbb710;
    display: block;
    margin-bottom: 15px;
}

.home-item .hover-content h4 {
    margin-bottom: 0;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

h4{
    color: #242424;
    line-height: 1.3;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: left;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.search-wrapper-on .main-content-wrapper {
    margin-top: 260px;
}

.item__add {
    z-index: 100;
    display: block;
    position: relative;
}