<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="cart-title mt-50">
            <h2>Orders</h2><br/>
          </div>
          <div class="cart-table clearfix">
            <table class="table table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Adress</th>                  
                  <th>ZipCode</th>
                  <th>City</th>
                  <th>County</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders">
                  <td>{{ order.fullName }}</td>
                  <td>{{ order.addressLine1 }}</td>
                  <td>{{ order.zipCode }}</td>
                  <td>{{ order.city }}</td>
                  <td>{{ order.country }}</td>
                  <td>{{ order.status === 1? 'paid' : 'Ordered' }}</td>
                </tr>
              </tbody>
            </table>
            <ng-template #emptyOrders>
              <br />
              <p>No orders found</p>
            </ng-template>
          </div>
        </div>
    </div>
</div> 
  
  