<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <h5>E-mail address</h5>
    <input type="email" class="form-control" placeholder="Enter your e-mail address" name="email" #email="ngModel" email required ngModel />
    <span class="help-block" *ngIf="email.touched && !email.valid">Please enter a valid e-mail address</span>
  </div>
  <button type="submit" class="btn btn-amado">Send recovery link</button>
</form>
