<div class="row" style="height:100%">
  <div class='col-md-3' style="background-color:#f5f7fa">
    <nav class="category-navbar">
      <h6>Item Management</h6>
      <ul>
        <li class="selected">
          <a>Categories</a>
        </li>
        <li>
          <a [routerLink]="['/admin/products']">Products</a>
        </li>
        <li>
          <a [routerLink]="['/admin/vat']">VAT</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class='col-md-3'>
    <ul class="listbox">
      <li *ngFor="let category of categories.resultSet.categories">
        <a (click)="selectCategory(category, categories.resultSet.categories)" [ngClass]="{'selected': category.active}">{{category.description}}</a>
      </li>
    </ul>
  </div>
  <div class='col-md-6'>

    <form *ngIf="selectedCategory">
        <h4 style="margin-top:30px">Category details</h4>
        <div style="margin:30px 0 10px 0">Description</div>
        <input type="text" id="description" name="description" [(ngModel)]="selectedCategory.resultSet.description"  />
    </form>

      <div *ngIf="selectedCategory" class="row" style="margin-top:20px">
        <div class="col-md-6">
          <button  class="amado-btn" (click)="deleteCategory()">Delete</button>
        </div><div class="col-md-6">
          <button  class="amado-btn" (click)="editCategory()">Save Changes</button>
        </div>
      </div>
  </div>
</div>