<div class="row" style="height:100%">

  <div class='col-md-3' style="background-color:#f5f7fa">
    <nav class="category-navbar">
      <h6>Item Management</h6>
      <ul>
        <li class="selected">
          <a>Categories</a>
        </li>
        <li>
          <a [routerLink]="['/admin/products']">Products</a>
        </li>
        <li>
          <a [routerLink]="['/admin/vat']">VAT</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class='col-md-3'>
    <ul class="listbox">
      <li *ngFor="let category of catList">
        <a (click)="selectCategory(category)" [ngClass]="{'selected': category.active}">{{category.description}}</a>
      </li>
    </ul>
    <div class="mt-20">
      <button class="amado-btn" (click)="setAddMode()" *ngIf="!addMode">Add</button>
    </div>
  </div>
  <div class='col-md-6'>

      <form (ngSubmit)="onSubmit(form)" #form="ngForm" *ngIf="cat">
          <h4 class="mt-40">Category details</h4>

          <div class="row">

              <div class="col-md-12 mb-6 form-group">
                  <h6 for="description">Description</h6>
                  <input type="text" id="description" name="description" class="form-control" required ngModel #description="ngModel" [(ngModel)]="cat.description">
                  <span class="help-block" *ngIf="description.touched && !description.valid">Please enter a valid value</span>
              </div>

              <div class="col-md-6" *ngIf="addMode">
                  <button type="button" class="amado-btn" (click)="cancelAddCategory()">Cancel Add</button>
              </div>

              <div class="col-md-6" *ngIf="!addMode">
                  <button type="button" class="amado-btn" (click)="deleteCategory()">Delete</button>
              </div>

              <div class="col-md-6">
                  <button type="submit" class="amado-btn" [disabled]="!form.valid">Save Changes</button>
              </div>

          </div>
          
      </form>
    
  </div>
</div>

