<h2>Register</h2>
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <h5 for="FirstName">Firstname</h5>
    <input type="text" id="FirstName" placeholder="First name" class="form-control" name="firstName" required ngModel #firstName="ngModel" />
    <span class="help-block" *ngIf="firstName.touched && !firstName.valid">Please enter a valid value</span>
  </div>
  <div class="form-group">
    <h5 for="LastName">Lastname</h5>
    <input type="text" id="LastName" placeholder="Last name" class="form-control" name="lastName" #lastName="ngModel" required ngModel />
    <span class="help-block" *ngIf="lastName.touched && !lastName.valid">Please enter a valid value</span>
  </div>
  <div class="form-group">
    <h5 for="Email">E-mail (this will be your username)</h5>
    <input type="email" id="Email" placeholder="E-mail" class="form-control" name="username" #username="ngModel" required ngModel email />
    <span class="help-block" *ngIf="username.touched && !username.valid">Please enter a valid e-mail address</span>
  </div>
  <div class="form-group">
    <h5 for="Password">Password</h5>
    <input type="password" id="Password" placeholder="Password" class="form-control" name="password" #password="ngModel" required ngModel />
  </div>
  <div class="form-group">
    <h5 for="PasswordConfirmed">Password (confirmation)</h5>
    <input type="password" id="PasswordConfirmed" placeholder="Password confirmation" class="form-control" name="PasswordConfirmed" required ngModel />
  </div>
  <ul *ngIf="this.errors.length > 0">
    <li *ngFor="let error of this.errors">
      {{error}}
    </li>
  </ul>
  <button type="submit" class="btn btn-register" [disabled]="!form.valid">Register</button>
</form>
