.btn-register {
  background-color: #fbb710;
  height: 55px;
  color: #ffffff;
  min-width: 160px;
}

.form-control {
  height: 60px;
  border-color: #f5f7fa;
  border-radius: 0;
  background-color: #f5f7fa;
  padding: 30px;
  color: #6b6b6b;
  font-size: 14px;
}

input.ng-invalid.ng-touched {
  border-color: red !important;
}

.help-block {
  color: red;
}

li {
  color: red;
}
