<div class="container-fluid mt-50">
  <div class="row">
    <div class="col">
      <div class="cart-title">
        <h2 class="mb-3">Information</h2>
      </div>
      <div class="row">
        <div class="col-12 col-lg-7 mt-50">
          <h5>Delivery</h5>
          <p>All of our deliveries are made using DHL. Shipping costs are 3,95 euro for delivery in The Netherlands. We do not deliver abroad yet. We will ship your order within three business days.</p>
          <br/>
          <h5>Return</h5>
          <p>
            We hope that you love our products as much as we do, but if for any reason you are unhappy with any item purchased through our website, then please call us on +31 (0)6 1234 5678 within 14 days of receiving your order and we will be happy to arrange a refund or exchange.
          </p>
          <br/>
          <h5>Privacy</h5>
          <h6>About our privacy policy</h6>
          <p>
            Thrasher Bookshop cares a lot about your privacy. We therefore only process data that we need for (improving) our services and carefully handle the information we have about you and your use of
            our services. We never make your data available for commercial purposes to third parties. This privacy policy applies to the use of the website and the services provided by Thrasher Bookshop. The starting date for the validity of these conditions is 12/12/2018, with the publication
            of a new version the validity of all previous versions expires. This privacy policy describes which data is collected by us, what these data are used for and with whom and under which
            conditions they may be shared with third parties. We also explain to you in what way we store your data and how we protect your data against misuse and what rights you have with
            regarding the personal data you provide us.
          </p>
          <h6>Webhosting and email traffic</h6>
          <p>
            We have web hosting and email services from Quirky. Quirky processes personal data on our behalf and does not use your data for own purposes. However, this party can collect metadata about the use of the services. These are not personal data. Quirky has appropriate technical and organizational measures taken to prevent loss and unauthorized use of your personal data. Quirky is obliged to observe secrecy on the grounds of the agreement.
            We also use the services of Quirky for our regular business e-mail traffic. This party has appropriate technical and organizational measures taken to prevent abuse, loss and corruption of your and our data as much as possible. Quirky has no access to our mailbox and we handle all our email traffic confidential.
          </p>
          <h6>Payment processor</h6>
          <p>
            For the handling of (part of) the payments in our web shop we use the platform of Stripe. Stripe processes your name, address and residence details and your payment details such as your bank account or credit card number. Stripe has appropriate technical and organizational measures taken to protect your personal data. Stripe reserves the right to use your data to further improve their service and in this context (anonymised) share data with third parties. Stripe shares in the case of an application for a deferred payment (credit facility) personal data and information regarding your financial position with credit rating agencies. All the above mentioned safeguards regarding the protection of your personal data do also apply to the parts of Stripe's service for which they engage third parties. Stripe will not keep your data longer than permitted by the legal terms.
          </p>
          <h6>Shipping and logistics</h6>
          <p>
            If you place an order with us, it is our job to have your package delivered to you. We use the
            DHL services to carry out the deliveries. It is therefore necessary that we share your name, address and residence details with DHL. DHL uses these data only for the purpose of carrying out the
            agreement. In the event that DHL engages subcontractors, DHL will also provide your data to these parties.
          </p>
          <h6>Purpose of data processing</h6>
          <p>
            <i>General purpose of the processing</i><br />
            We only use your data for the benefit of our services. That is, the goal of the
            processing is always directly related to the order you place. We do not use your information for (focused) marketing. If you share information with us and we use this data to - other than at your request -
            to contact you at a later time, we ask you for explicit permission. Your data will be
            not shared with third parties, other than to comply with accounting and other administrative obligations.
            These third parties have all been kept confidential on the basis of the agreement between them and us or an oath
            or legal obligation.
            <br /><br />
            <i>Automatically collected data</i><br />
            Data collected automatically by our website are processed with the purpose of improving our services. This information (for example your IP address, web browser and operating system) is not
            personal data.
            <br /><br />
            <i>Participation in tax and criminal investigation</i><br />
            In certain cases, Thrasher Bookshop can be held to a legal obligation
            sharing your data in connection with government tax or criminal investigation. In such a case
            we are forced to share your information, but we will be within the possibilities that the law offers us
            to oppose this.
            <br /><br />
            <i>Retention periods</i><br />
            We keep your information as long as you are our client. This means that we keep your customer profile until you
            indicate that you no longer wish to use our services. If you indicate this to us, we will also do this
            to be regarded as a forgetting request. Based on applicable administrative obligations we must submit invoices with
            your (personal) data, so we will keep this data for as long as the applicable term runs
            save.
            However, employees no longer have access to your client profile and documents that we
            have produced for your order.
          </p>
          <h6>Your rights</h6>
          <p>
            On the basis of the applicable Dutch and European legislation, you as a data subject have certain rights regarding personal data processed by or on behalf of us. We explain below which
            rights and how you can invoke these rights. In principle, we aim to send copies of your data only to your already known e-mail address. In case you have to receive information at another e-mail address or, for example, by mail, we will ask you to
            legitimize. We keep records of completed requests, in case of a request to be forgotten
            we administer anonymous data. You will receive all copies and copies of data in the
            machine-readable data format that we use within our systems. You have the right to change your personal data at any time. Submit a complaint to the Dutch Data Protection Authority if you suspect that we have your personal data on one
            wrong way.<br /><br />
            <i>Right of inspection</i><br />
            You always have the right to use the data that we process or have related to and that relate to your person or to be traceable to this. You can submit a request to that effect to our customer service.
            You will receive a response to your request within 30 days. If your request is granted, we will send you a copy of all the data with an overview of the processors who use it at the email address known to us, including the category under which we have stored this data.<br /><br />
            <i>Rectification right</i><br />
            You always have the right to use the data that we process or have related to and that relate to your person or can be traced to this. You can submit a request to that effect to our contact person
            for privacy matters. You will receive a response to your request within 30 days. If your request is granted, we will send you a confirmation that the data has been modified on the e-mail address known to us.<br /><br />
            <i>Right to restriction of processing</i><br />
            You always have the right to use the data that we process or have related to your person or for that purpose traceable. You can submit a request to that effect to our customer service.
            You will receive a response to your request within 30 days. If your request is granted, we will confirm to you at the email address known to us that the data until you cancel the restriction will no longer be valid.<br /><br />
            <i>Right of transferability</i><br/>
            You always have the right to use the data that we process or have related to and that relate to your person or to be traceable by another party. You can submit a request to that effect
            to our customer service. You will receive a response to your request within 30 days. As you requested we will send you copies or copies of all information about you to the email address known to us we have processed or have been processed by us by other processors or third parties. To all probability in such a case we can no longer continue the service because the safe
            linking of data files can no longer be guaranteed.<br/><br/>
            <i>Right of objection and other rights</i><br />
            In such cases you have the right to object to the processing of your personal data
            or by order of Thrasher Bookshop. If you object, we will immediately stop the data processing
            awaiting the handling of your objection. If your objection is well-founded, we will provide copies and / or copies of data that we process (have) processed, and then discontinue processing. YOU
            also has the right not to become automated individual decision making or profiling subject. We do not process your data in such a way that this right applies. Do you believe if this is the case, please contact our customer service.
          </p>
          <h6>Changes to the privacy policy</h6>
          <p>
            We reserve the right to change our privacy policy at any time. On this page you will always find the most
            recent version. If the new privacy policy affects the way we already collect data
            in relation to you, we will notify you by email.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
