<div class="user-info">
    <ng-template [ngIf]="this.authService.isAuthenticated()">
      <span>{{this.authService.getUser().name}}</span>
      <div class="arrow_box">
          <a [routerLink]="['/logout']">Logout</a><br />
          <a [routerLink]="['/account/profile']">Profile</a><br />
          <a [routerLink]="['/wishlist']">Wishlist</a>
      </div>
    </ng-template>
    <ng-template [ngIf]="!this.authService.isAuthenticated()">
      <a [routerLink]="['/login']">Login</a> |
      <a [routerLink]="['/register']">Register</a>
    </ng-template>
    <span class="fa fa-user user-icon"></span>
  </div>

