div.user-info {
  z-index: 1000;
  position: absolute;
  top: 3px;
  right: 10px;
  color: #fff;
  line-height: 35px
}
div.user-info div {
  display: none;
}
div.user-info:hover div {
  position: absolute;
  display: block;
  padding: 20px 30px;
  border-radius: 10px;
}
div.user-info a {
  color: #fff;
}
div.arrow_box a {
  color: #333;
}
div.user-info:hover a:hover {
  text-decoration: none;
  color: #fbb710;
}
.user-icon {
  margin: 0 5px
}

.arrow_box {
  position: relative;
  background: #ececec;
  border: 2px solid #ccc;
}

  .arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow_box:after {
    border-color: rgba(236, 236, 236, 0);
    border-bottom-color: #ececec;
    border-width: 10px;
    margin-left: -10px;
  }

  .arrow_box:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #ccc;
    border-width: 13px;
    margin-left: -13px;
  }