
.shop-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.shop-item {
  background-color: #ffffff;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  position: relative;
}

  .shop-item:hover a::after, .shop-item:focus a::after {
    opacity: 1;
    visibility: visible;
  }

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.item__image {
  max-width: 100%;
}

.category-navbar h6 {
  font-size: 16px;
  text-transform: capitalize;
  color: #242424;
  margin: 30px 15px
}

.category-navbar ul {
  list-style-type: none;
  margin: 15px 30px;
  padding: 0;
  width: 200px;
}

.category-navbar li a {
  display: block;
  color: #999;
  padding: 8px 16px;
  text-decoration: none;
  cursor:pointer;
}

  .category-navbar li a:hover {
    color: #fbb710;
  }

.category-navbar li.selected a {
  color: #fbb710;
  font-weight: bold;
}

.priceDiv {
  Float: left;
  color: #fbb710;
  font-weight: bold;
  font-size: 24px;
  border-top: 3px solid #fbb710;
  padding: 10px 20px 0 0;
  margin-top: 10px
}

.ratingDiv {
  float: right;
  color: #fbb710;
  font-size: 16px;
  padding: 4px;
  margin-top: 25px
}

.cartDiv {
  clear: both;
  float: right;
  padding: 10px 0
}

.nameDiv {
  clear: left;
  max-width: 240px;
  font-size: 1.1rem;
  color: #242424;
  text-align: left;
  line-height: 1.3;
  padding: 10px 0
}

.item__add {
  z-index: 100;
  display: block;
  position: relative;
}

.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

pagination li {
  float: left;
}

.pagination li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  }

  .pagination li a:hover {
    color: #fbb710;
    font-weight: bold;
    background-color: #111111;
    cursor: pointer;
  }
