<div class="basic-container" style="background:#eee; overflow: hidden;">

  <!-- (vertical) Categories bar to the left of the component UI -->
  <nav class="category-navbar" style="float:left; min-width:180px; width:25%; min-width:240px;">
    <h6>Categories</h6>
    <ul>
      <li *ngFor="let category of categories">
        <a (click)="loadProductsFromCategory(category.id)">{{category.description}}</a>
      </li>
    </ul>
  </nav>

  <!-- Products container to the right of the component UI -->
  <div class="shop-container" style="overflow:hidden;">
    <div ng-controller="productController" *ngFor="let product of currentProducts" class="shop-item clearfix" style="background:#fff; min-width:250px; min-height:700px;">
      <a [routerLink]="['/product', product.id ]" style="text-decoration:none;color:#000;padding:30px;">
        <div>
          <div>
            <img src="{{getProductImage(product.isbn)}}" onerror="this.src='../assets/books/unknown-book.jpg'" class="item__image" style="max-height:450px;" />
          </div>
          <div style="position:absolute;bottom:0;">
            <div>
              <div class="priceDiv">
                &euro; {{product.priceWithoutVat.toFixed(2)}}
              </div>
              <div class="ratingDiv" innerHTML="{{getRating(product.rating)}}">
              </div>
            </div>
            <div class="nameDiv">
              {{product.name}}
            </div>
          </div>
        </div>
      </a>
      <button (click)="addProductToCart(product, 1)" style="background-color:#fff; border:none; text-align:center; display:inline-block;  margin:4px 2px; cursor:pointer;">
        <img src="../assets/images/shopping_cart.png" width="50" height="40" />
      </button>
    </div>
  </div>

  <!-- Pagination container on the bottom of the component UI -->
  <div>
    <ul class="pagination">

      <li>
        <a (click)="changePageNumber(1)">First</a>
      </li>

      <li>
        <a (click)="changePageNumber(currentPage > 1 ? currentPage - 1 : currentPage)">Previous</a>
      </li>

      <li *ngFor="let number of currentPageArray">
        <a (click)="changePageNumber(number)">{{number}}</a>
      </li>

      <li>
        <a (click)="changePageNumber(currentPage < maxPage ? currentPage + 1 : currentPage)">Next</a>
      </li>

      <li>
        <a (click)="changePageNumber(maxPage)">Last</a>
      </li>

    </ul>
  </div>

</div>
