<form (ngSubmit)="onSubmit">
  <div class="form-group">
    <h5>Firstname</h5>
    <input name="firstname" #firstname="ngModel" placeholder="Please fill in your firstname" class="form-control" ngModel required />
    <span class="help-block" *ngIf="firstname.touched && !firstname.valid">Your firstname is required.</span>
  </div>
  <div class="form-group">
    <h5>Lastname</h5>
    <input name="lastname" #lastname="ngModel" placeholder="Please fill in your lastname" class="form-control" ngModel required />
    <span class="help-block" *ngIf="lastname.touched && !lastname.valid">Your lastname is required.</span>
  </div>
  <div class="form-group">
    <h5>E-mail address / username</h5>
    <input name="email" #email="ngModel" placeholder="Please fill in your e-mail address" class="form-control" email ngModel required />
    <span class="help-block" *ngIf="email.touched && !email.valid">Your e-mail address is required.</span>
  </div>
  <button type="submit" class="btn btn-amado">Save changes</button>
</form>
