<div class='container-fluid'>
  <div class="row">
    <div class="col-12 header_area">
        <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-search-bar [isSearchBarVisable]="isSearchBarVisable"></app-search-bar>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      <app-nav-sidebar (onSearchBar)="onSearchBar($event)"></app-nav-sidebar>
    </div>
    <div class='col-md-9 body-content'>
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-12 footer_area">
      <app-footer></app-footer>
    </div>
  </div>
</div>
