@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.footer_area {
  padding: 0;
}  

.header_area {
  background-color:#000;
  height:35px;
  color:#fff
}
