<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <h5>New password</h5>
    <input type="password" class="form-control" name="password" #password="ngModel" required ngModel />
    <span class="help-block" *ngIf="password.touched && !password.valid">Please enter a new password</span>
  </div>
  <div class="form-group">
    <h5>Confirm new password</h5>
    <input type="password" class="form-control" name="confirmPassword" #confirmPassword="ngModel" required ngModel />
    <span class="help-block" *ngIf="confirmPassword.touched && !confirmPassword.valid && password != confirmPassword">Please confirm your new password</span>
  </div>
  <button class="btn btn-amado" type="submit" [disabled]="!form.valid">Reset password</button>
</form>
