<div class="cart-table-area section-padding-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="cart-title mt-50">
          <h2>Wishlist</h2>
        </div>
        <div class="cart-table clearfix">
          <table class="table table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Author</th>
                <th>Remove from wishlist</th>
              </tr>
            </thead>
              <tbody>
                <tr *ngFor="let item of wishlist">
                  <td class="cart_product_img" style="width:50px">
                    <a class="nav-link" [routerLink]="['/product', item.productId ]"><img src="{{getImageUrl(item.product.isbn)}}" alt={{item.product.name}} style="width:50px"></a>
                  </td>
                  <td>
                    <div class="nameDiv">
                      {{item.product.name}}
                    </div>
                  </td>
                  <td>
                    <div class="priceDiv">
                      {{item.product.priceWithoutVat}}
                      </div>
                  </td>
                  <td>
                    <div class="nameDiv">
                    {{item.product.author}}
                    </div>
                  </td>
                  <td class="qty">
                    <div class="qty-btn d-flex">
                      <div class="quantity">
                        <span class="qty-minus">
                          <button (click)="deleteFromWishlist(item.productId)" title="Remove this product from the wishlist">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                          </button>
                        </span>
                      </div>
                      </div>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
