.main-content-wrapper .cart-table-area {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(95% - 320px);
  flex: 0 0 calc(95% - 320px);
  width: calc(95% - 320px);
  max-width: calc(95% - 320px);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-content-wrapper .cart-table-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 320px);
    flex: 0 0 calc(100% - 320px);
    width: calc(100% - 320px);
    max-width: calc(100% - 320px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-content-wrapper .cart-table-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 280px);
    flex: 0 0 calc(100% - 280px);
    width: calc(100% - 280px);
    max-width: calc(100% - 280px);
  }
}

@media only screen and (max-width: 767px) {
  .main-content-wrapper .cart-table-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    padding-top: 0;
  }
}

.main-content-wrapper .cart-table-area .cart-title h2 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #242424;
}

.main-content-wrapper .cart-table-area table thead {
  width: 100%;
  display: block;
}

  .main-content-wrapper .cart-table-area table thead tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #f5f7fa;
  }

    .main-content-wrapper .cart-table-area table thead tr th {
      border-top: none;
      border-bottom: none;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      width: 25%;
      max-width: 25%;
      font-size: 12px;
      color: #242424;
      text-transform: capitalize;
      font-weight: 400;
    }

.main-content-wrapper .cart-table-area table tbody {
  width: 100%;
  display: block;
}

  .main-content-wrapper .cart-table-area table tbody tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    width: 100%;
  }

    .main-content-wrapper .cart-table-area table tbody tr td {
      border: none;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      width: 25%;
      max-width: 25%;
    }

      .main-content-wrapper .cart-table-area table tbody tr td h5 {
        font-size: 16px;
        color: #252525;
      }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-content-wrapper .cart-table-area table tbody tr td h5 {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-content-wrapper .cart-table-area table tbody tr td h5 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .main-content-wrapper .cart-table-area table tbody tr td h5 {
    font-size: 12px;
  }
}

.main-content-wrapper .cart-table-area table tbody tr td .qty-btn p {
  margin-bottom: 0;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  background-color: #f5f7fa;
  color: #242424;
  font-size: 14px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-content-wrapper .cart-table-area table tbody tr td .qty-btn p {
    padding: 0 10px;
  }
}

.main-content-wrapper .cart-table-area table tbody tr td .qty-btn .quantity {
  position: relative;
  z-index: 1;
}

  .main-content-wrapper .cart-table-area table tbody tr td .qty-btn .quantity input {
    text-align: center;
    background-color: #f5f7fa;
    height: 40px;
    width: 60px;
    border: none;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    color: #242424;
    font-size: 14px;
  }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-content-wrapper .cart-table-area table tbody tr td .qty-btn .quantity input {
    width: 45px;
  }
}

.main-content-wrapper .cart-table-area table tbody tr td .qty-btn .quantity .qty-plus {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 40px;
  width: 20px;
  text-align: center;
  height: 40px;
  cursor: pointer;
  color: #242424;
  font-size: 10px;
}

.main-content-wrapper .cart-table-area table tbody tr td .qty-btn .quantity .qty-minus {
  position: absolute;
  top: 0;
  right: 40px;
  line-height: 40px;
  width: 20px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  color: #242424;
  font-size: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-content-wrapper .cart-table-area table tbody tr td .qty-btn .quantity .qty-minus {
    right: 30px;
  }
}

.main-content-wrapper .cart-table-area .cart-summary {
  background-color: #f5f7fa;
  margin-top: 118px;
  position: relative;
  z-index: 1;
  padding: 30px 20px;
}

  .main-content-wrapper .cart-table-area .cart-summary h5 {
    font-size: 18px;
    margin-bottom: 0;
  }

  .main-content-wrapper .cart-table-area .cart-summary .summary-table {
    margin-top: 30px;
  }

    .main-content-wrapper .cart-table-area .cart-summary .summary-table li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 30px;
      text-transform: capitalize;
    }

      .main-content-wrapper .cart-table-area .cart-summary .summary-table li span {
        color: #6b6b6b;
        font-size: 14px;
      }

  .main-content-wrapper .cart-table-area .cart-summary .payment-method label {
    font-size: 14px;
    color: #6b6b6b;
    font-weight: 400;
    margin-bottom: 15px;
  }

.cartDiv {
  clear: both;
  float: right;
  padding: 10px 0
}

.nameDiv {
  clear: left;
  max-width: 240px;
  font-size: 1.1rem;
  color: #242424;
  text-align: left;
  line-height: 1.3;
  padding: 10px 0
}
.priceDiv {
  Float: left;
  color: #fbb710;
  font-weight: bold;
  font-size: 24px;
  border-top: 3px solid #fbb710;
  padding: 10px 20px 0 0;
  margin-top: 10px
}
