<div class="row" style="height:100%">
  <div class='col-md-3' style="background-color:#f5f7fa">
    <nav class="category-navbar">
      <h6>Item Management</h6>
      <ul>
        <li>
          <a [routerLink]="['/admin/categories']">Categories</a>
        </li>
        <li class="selected">
          <a>Products</a>
        </li>
        <li>
            <a [routerLink]="['/admin/vat']">VAT</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class='col-md-4'>
    <select class="form-control combobox" (change)="changeCategory($event.target.value)" [(ngModel)]="this.categoryId">
        <option *ngFor="let category of categoryList" value="{{category.id}}">{{category.description}}</option>
    </select>
    <ul class="listbox">
        <li *ngFor="let product of productList">
            <a (click)="selectProduct(product)" [ngClass]="{'selected': product.active}">{{product.isbn + ' - ' + product.name}}</a>
        </li>
    </ul>
    <div class="mt-20">
      <table style="table-layout:fixed;width:100%;color:#666">
        <tr>
          <td><a (click)="gotoFirstPage()" title="first page" class="fa fa-angle-double-left fa-2x"></a></td>
          <td><a (click)="gotoPrevPage()" title="previous page" class="fa fa-angle-left fa-2x"></a></td>
          <td style="text-align:center"><span>{{this.pageNumber}} / {{this.pageTotal}}</span></td>
          <td style="text-align:right"><a (click)="gotoNextPage()" title="next page" class="fa fa-angle-right fa-2x"></a></td>
          <td style="text-align:right"><a (click)="gotoLastPage()" title="last page" class="fa fa-angle-double-right fa-2x"></a></td>
        </tr>
      </table>
    </div>
    <div class="mt-20">
        <button class="amado-btn" (click)="setAddMode()" *ngIf="!addMode">Add</button>
    </div>
  </div>

  <div class='col-md-5'>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" *ngIf="product">
        <h4 style="margin-top:30px">Product details</h4>

        <div class="row">

            <div class="col-md-12 mb-6 form-group">
                <h6 for="isbn">ISBN</h6>
                <input type="text" class="form-control" id="isbn" name="isbn" required ngModel #isbn="ngModel" [(ngModel)]="product.isbn">
                <span class="help-block" *ngIf="isbn.touched && !isbn.valid">Please enter a valid value</span>
            </div>

            <div class="col-md-12 mb-6 form-group">
                <h6 for="name">Title</h6>
                <input type="text" class="form-control" id="name" name="name" required ngModel #name="ngModel" [(ngModel)]="product.name">
                <span class="help-block" *ngIf="name.touched && !name.valid">Please enter a valid value</span>
            </div>

            <div class="col-md-12 mb-6 form-group">
                <h6 for="name">Author</h6>
                <input type="text" class="form-control" id="author" name="author" required ngModel #author="ngModel" [(ngModel)]="product.author">
                <span class="help-block" *ngIf="author.touched && !author.valid">Please enter a valid value</span>
            </div>

            <div class="col-md-12 mb-6 form-group">
                <h6 for="description">Description</h6>
                <textarea class="form-control" id="description" name="description" rows="5" required ngModel #description="ngModel" [(ngModel)]="product.description"></textarea>
                <span class="help-block" *ngIf="description.touched && !description.valid">Please enter a valid value</span>
            </div>

            <div class="col-md-12 mb-6 form-group">
                <h6 for="priceWithoutVat">Price</h6>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text no-border">€</span>
                    </div>
                    <input type="text" class="form-control" id="priceWithoutVat" name="priceWithoutVat" rows="5" required ngModel #priceWithoutVat="ngModel" [(ngModel)]="product.priceWithoutVat">
                    <span class="help-block" *ngIf="priceWithoutVat.touched && !priceWithoutVat.valid">Please enter a valid value</span>
                </div>

            </div>

            <div class="col-md-6" *ngIf="addMode">
                <button type="button" class="amado-btn" (click)="cancelAddMode()">Cancel Add</button>
            </div>

            <div class="col-md-6" *ngIf="!addMode">
                <button type="button" class="amado-btn" (click)="deleteProduct()">Delete</button>
            </div>

            <div class="col-md-6">
                <button type="submit" class="amado-btn" [disabled]="!form.valid">Save Changes</button>
            </div>

        </div>
    </form>
  </div>

</div>

