<div class="row">
  <div class="col-4 col-sm-12">
    <table class="table table-striped table-style">
      <thead class="thead-light">
        <tr>
          <th scope="col">Actions</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of this.userClient.users | paginate: { itemsPerPage: 15, currentPage: page, totalItems: this.userClient.totalNumber }">
          <td><span (click)="onEditConfirm(user)">Edit</span>|<span (click)="onDeleteConfirm(user)">Delete</span></td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
        </tr>
        <pagination-controls class="table-alignment" (pageChange)="onPageChanged($event)"></pagination-controls>
      </tbody>
    </table>
  </div>
</div>
