<form (ngSubmit)="onSubmit(form)" #form="ngForm" *ngIf="editUser">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="editUser.id" />
  <div class="form-group">
    <label for="txtFirstname">Firstname</label>
    <input type="text" class="form-control" id="txtFirstname" placeholder="Firstname" #firstname="ngModel" name="firstname" ngModel required [(ngModel)]="editUser.firstName"/>
    <span class="help-block" *ngIf="firstname.touched && !firstname.valid">Please enter your firstname</span>
  </div>
  <div class="form-group">
    <label for="txtLastname">Lastname</label>
    <input type="text" class="form-control" id="txtLastname" placeholder="Last Name" #lastname="ngModel" name="lastname" ngModel required [(ngModel)]="editUser.lastName"/>
    <span class="help-block" *ngIf="lastname.touched && !lastname.valid">Please enter your lastname</span>
  </div>
  <!-- <div class="form-group"> -->
    <!-- <label for="txtEmail">Email address</label> -->
    <!-- <input type="email" class="form-control" id="txtEmail" placeholder="E-mail address" #email="ngModel" name="email" ngModel email required [(ngModel)]="editUser.email"/> -->
    <!-- <span class="help-block" *ngIf="email.touched && !email.valid">Please enter a valid e-mail address</span> -->
  <!-- </div> -->

  <button type="submit" class="btn btn-amado" [disabled]="!form.valid">Save</button>
</form>
