.help-block {
  color: red;
}

.btn-amado {
  display: inline-block;
  min-width: 160px;
  height: 55px;
  color: #ffffff;
  border: none;
  padding: 0 7px;
  font-size: 18px;
  line-height: 56px;
  background-color: #fbb710;
  font-weight: 400;
}

.amado-btn.active, .amado-btn:hover, .amado-btn:focus {
  font-size: 18px;
  color: #ffffff;
  background-color: #131212;
}

.form-control {
  height: 60px;
  border-color: #f5f7fa;
  border-radius: 0;
  background-color: #f5f7fa;
  padding: 30px;
  color: #6b6b6b;
  font-size: 14px;
}

input.ng-invalid.ng-touched {
  border-color: red !important;
}
