
.title-container {
  position: relative;
  background-color: #eeeeee;
  text-align: center;
  font-family: Arial;
  padding: 1px;
}

.graphs-container {
  display: grid;
  grid-template-columns: auto auto;
}

.graph-item {
  background-color: #ffffff;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  position: relative;
}

  .graph-item img {
    /*
  max-width:100%;
  max-height:100%;
  */
    height: 90%;
    width: 100%;
    object-fit: contain
  }

figcaption {
  font-size: 18px;
  font-family: arial;
  color: #fbb710;
  font-weight: bold;
}

.best-sellers-container {
  display: grid;
  grid-template-columns: auto auto;
}

.list-title {
  font-size: 18px;
  font-family: arial;
  color: #fbb710;
  font-weight: bold;
  padding: 10px 10px 0px 0px;
}

.top-list-container {
  font-family: arial;
}

.top-list-container ol {
  counter-reset: item;
  list-style-type: none;
  padding-left: 0;
}

.top-list-container ol li {
  display: block;
  padding: 3px;
}

.top-list-container ol li:before {
  content: counter(item) ".  ";
  counter-increment: item;
}

.graph-settings-container {
  text-align: center;
  background-color: #f7f7f7;
}
