<div class="dashboard-container">

  <div>
    <!-- graph container -->
    <div class="title-container">
      <h3>Sales per month:</h3>
    </div>
    <div class="graph-settings-container">
      <div>Select chart type: </div>
      <div>
        <select name="chartTypeSelect" (change)="onChartTypeChange($event.target.value)">
          <option value="bar">Bar chart</option>
          <option value="line">Line chart</option>
          <option value="mixed">Bar and Line chart</option>
          <option value="radar">Radar chart</option>
        </select>
      </div>
    </div>
    <div class="graph-settings-container">
    <div>Select category: </div>
    <div>
      <select name="chartDataCategorySelect" (change)="onChartDataCategoryChange($event.target.value)">
        <option value="-1">Boeken uit alle categorie&euml;n</option>
        <option *ngFor="let category of categories" value="{{category.id}}">{{category.description}}</option>
      </select>
    </div>
  </div>
    <div class="graphs-container" style="display: block; position: relative;">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              [colors]="lineChartColors"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>

  <div>
    <!-- sales lists container -->
    <div class="title-container">
      <h3>Best sellers last month:</h3>
    </div>

    <div class="best-sellers-container">
      <div class="top-list-container">
        <div class="list-title">
          Categories
        </div>
        <ol>
          <li *ngFor="let category of categories| slice:3:13"> {{category.description}} </li>
        </ol>
      </div>
      <div class="top-list-container">
        <div class="list-title">
          Books
        </div>
        <ol>
          <li *ngFor="let product of bestSellingProducts">
            {{product.name}} - {{product.category.description}} - &euro;{{product.priceWithoutVat}}
          </li>
        </ol>
      </div>
    </div>
  </div>

</div>
