<div class="search-wrapper section-padding-100 search-bar-visable" *ngIf="isSearchBarVisable">
    <button class="search-close" (click)="isSearchBarVisable = !isSearchBarVisable">
        x
    </button>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-content">
                    <form>
                        <input 
                            type="text" 
                            name="search" 
                            id="search" 
                            [(ngModel)]="searchInput"
                            (keyup)="onSearch(searchInput)"
                            placeholder="Type your keyword...">
                    </form>
                </div>
            </div>
        </div>
        <div class="search-result-container" *ngIf="searchResult">
            <button class="search-result-container__close search-close" (click)="searchResult = !searchResult" *ngIf="products.length > 0">
                x
            </button>
            <ng-container *ngFor="let product of products">
                <a class="search-result__link" [routerLink]="['/product', product.id ]" (click)="closeSearch()">
                    <div class="search-result">
                        <div class="row">
                            <div class="col-1">
                                <img class="search-result__image" src="../assets/books/{{ product.imageUrl == null ? 'unknown-book.jpg' : product.imageUrl }}">                 
                            </div>
                            <div class="col pl-3">
                                <div class="row">
                                    <div class="col">
                                        <span class="search-result__title">
                                            {{ product.name }}
                                        </span>   
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="search-result__title">
                                            {{ product.author }}
                                        </span>  
                                    </div>
                                </div>             
                            </div>
                        </div>
                    </div>
                </a>
            </ng-container>
        </div>
    </div>
</div>