<app-observable-spinner-component [subscription]="productsObservable" [backgroundColor]="'#F8F8F8'" [marginTop]="250"></app-observable-spinner-component>
<div class="home-container">
    <div class="home-item clearfix" *ngFor="let product of bestSellingProducts">
        <a [routerLink]="['/product', product.id ]">
            <img class="item__image" src="../assets/images/{{ product.isbn == null ? 'unknown-book.jpg' : product.isbn }}.jpg">
            <div class="hover-content">
                <div class="line"></div>
                <p>From €{{ product.priceWithoutVat }}</p>
                <h4>{{ product.name }}</h4>
            </div>
        </a>
        <!-- <button (click)="addProductToCart(product, 1)" class="item__add">Add</button> -->
    </div>
</div>