<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
  <div class="cart-title">
    <h2>Login</h2>
  </div>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group">
      <h5>Username</h5>
      <input type="email" class="form-control" placeholder="Enter username" name="username" #username="ngModel" email required ngModel />
      <span class="help-block" *ngIf="username.touched && !username.valid">Please enter a valid e-mail address</span>
    </div>
    <div class="form-group">
      <h5>Password</h5>
      <input type="password" class="form-control" placeholder="Enter password" name="password" required ngModel />
    </div>
    <button class="btn btn-amado" type="submit" [disabled]="!form.valid">Login</button>
  </form>
  <div class="forgot-password mt-2" (click)="onForgotPassword()">Forgot your password?</div>
</div>
